{% import 'blocks/header.html' as h with context %}
<aside class="post-author">
{% if AUTHORS_BIO and author.name.lower() in AUTHORS_BIO %}
{% if AUTHORS_BIO[author.name.lower()].image %}
<figure class="post-author-avatar">
<img src="{{AUTHORS_BIO[author.name.lower()].image}}" alt="{{author.name }}" />
</figure>
{% endif %}
<div class="post-author-bio">
<p>
<span class="post-author-name"><a href="{{ SITEURL }}/{{ author.url }}">{{author.name }}</a></span>
{% if AUTHORS_BIO[author.name.lower()].fullname %}
<span> - {{AUTHORS_BIO[author.name.lower()].fullname}}</span>
{% endif %}
</p>
{% if AUTHORS_BIO[author.name.lower()].location %}
<p><span class="icon-location"> </span>{{AUTHORS_BIO[author.name.lower()].location}}</p>
{% endif %}
{% if AUTHORS_BIO[author.name.lower()].bio %}
<p>{{AUTHORS_BIO[author.name.lower()].bio}}</p>
{% endif %}
{% if AUTHORS_BIO[author.name.lower()].website %}
<p><a href="{{AUTHORS_BIO[author.name.lower()].website}}"><span class="icon-link"> </span>{{AUTHORS_BIO[author.name.lower()].website}}</a></p>
{% endif %}
<p>
{% if AUTHORS_BIO[author.name.lower()].twitter %}
 <a target="_blank" href="https://twitter.com/{{AUTHORS_BIO[author.name.lower()].twitter}}">
<span class="icon-twitter"> </span > {{AUTHORS_BIO[author.name.lower()].twitter}}
</a>
{% endif %}
{% if AUTHORS_BIO[author.name.lower()].facebook %}
 <a target="_blank" href="https://facebook.com/{{AUTHORS_BIO[author.name.lower()].facebook}}">
<span class="icon-facebook"> </span> {{AUTHORS_BIO[author.name.lower()].facebook}}</a>
{% endif %}
</p>
</div>
{% else %}
<figure class="post-author-avatar">
<img src="/theme/img/avatar.png" alt="{{author.name }}" />
</figure>
<div class="post-author-bio">
<p>
<span class="post-author-name"><a href="{{ SITEURL }}/{{ author.url }}">{{author.name }}</a></span>
</p>
{% endif %}
</aside>

