{% extends "base.html" %}

{% block title %}{{ SITENAME }} - categories{% endblock %}

{% block header %}
{% import 'blocks/header.html' as h with context %}
{{ h.header('page-header',self.title().replace(' - ','<br>'),'%i categories' % categories|count) }}
{% endblock header %}

{% block content %}
<article class="post post-content">
{% for category, articles in categories|sort %}
<a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a> ({{ articles|count }}){% if not loop.last %}, {% endif %}
{% endfor %}
</article>
{% endblock content %}
